
/* figure out why we have this?? */
h1 {
  font-weight: bold;
}

.center {
  /* removed original flexbox code and replaced with text-align: center */
  /* display: flex;
  justify-content: center; */
  width: 86vw;  /* need this to correctly center the "Leader Board" text on the page */
  font-size: 2.5em;
  text-align: center;
}

.border-1 {
  margin-left: 75px;
  margin-right: 100px;
}

@media (max-width: 450px){
	.border-1 {
		margin-left: 30px;
        margin-right:30px; 		
	}
}



.list-center-justify {
    display: grid;
    place-items: center;
    font-size: 1.1em;
}
  

#prizes {
  display: flex;
  justify-content: center;
  width: 86vw;  /* centers list of prizes */
  font-size: 1.5em;
}



.my-bg-photo {
  background: url('images/test-3.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 100%; /* pushes picture up slightly so "Trilling Bowl" displays properly on mnonitor  (OLD COMMENT 50% 34% for sb.jpeg)  */
  position: relative;
}

.my-bg-photo * {
  position: relative;
  z-index: 10;
}

.my-bg-photo:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .6;
}

.my-bg-photo-2 {
  background: url('images/sb1.png') no-repeat;
  background-size: cover;
  background-position: 50% 22%;
  position: relative;
}
.my-bg-photo-2 * {
  position: relative;
  z-index: 10;
}

.my-bg-photo-2:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .65;
}

.my-bg-photo-1 {
  background: url('images/super-bowl-picture.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 18%;  
  position: relative;
}

@media (max-width: 450px){
	.my-bg-photo-1 {
		background-position: 40% 8%;  /* picture needs to shift a little to the right on iphones */
		
	}
}




.my-bg-photo-1 * {
  position: relative;
  z-index: 10;
}

.my-bg-photo-1:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .65;
}

.my-custom-container {
  max-width: 800px;
}

.accordion .btn-link:focus {
  box-shadow: none;
}

.my-drawing {
  transition: all .33s ease-out;
}

.my-drawing:hover {
  transform: scale(1.054) rotate(15deg);
}